
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark brown ie-nav" [containerInside]="true">
        <logo>
            <a class="logo navbar-brand" href="#"><strong>Oldenait</strong></a>
        </logo>
        <links>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active waves-light" mdbWavesEffect>
                    <a class="nav-link">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link" routerLink="eventos" routerLinkActive="active">Eventos</a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link">Clubes</a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link" routerLink="mapa" routerLinkActive="active">Mapa</a>
                </li>
            </ul>
            <ul class="navbar-nav nav-flex-icons">
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link" routerLink="login"><i class="far fa-user"></i></a>
                </li>
            </ul>
        </links>
      </mdb-navbar>
    
    