<form class="clr-form" [formGroup]="userSignInForm" (ngSubmit)="login()">
  
  <input type="text" formControlName="email" placeholder="Correo Electrónico">
  <span *ngIf="email.invalid">Email incorrecto</span>

    <input type="password" formControlName="password" placeholder="Contraseña">
    <span *ngIf="password.invalid">La contraseña no cumple los requisitos</span>

    <button [disabled]="userSignInForm.invalid" type="submit" class="btn btn-primary">Login</button>
  </form>

<button type="button" class="btn" (click)="signInWithFacebook()">
    <i class="fab fa-facebook mr-2"></i> Facebook
  </button>

<button type="button" class="btn" (click)="signInWithGoogle()">
    <i class="fab fa-google mr-2"></i> Google
    </button>